" Load .vimrc
source ~/.vimrc

" General Settings
set ideajoin
set ideamarks
set clipboard+=ideaput

" Apply Plugins
Plug 'tpope/vim-surround'
Plug 'vim-scripts/argtextobj.vim'
Plug 'tpope/vim-commentary'
Plug 'terryma/vim-multiple-cursors'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'dbakker/vim-paragraph-motion'

" multiple-cursors
xmap <Enter> <Plug>SkipOccurrence
xmap <A-p> <Plug>RemoveOccurrence

nmap <A-S-n> <Plug>AllWholeOccurrences
xmap <A-S-n> <Plug>AllWholeOccurrences

" Mappings
:nmap gq <Action>(QuickJavaDoc)
:nmap ge <Action>(ShowErrorDescription)
:nmap gt <Action>(GotoTypeDeclaration)

:nmap <S-q> <Action>(ReformatCode)

:map <leader>re <Action>(Refactorings.QuickListPopupAction)
:nmap <leader>om <Action>(OverrideMethods)
:map <leader>sd <Action>(DeviceAndSnapshotComboBox)
:map <leader>bv <Action>(SelectBuildVariant)
:map <leader>ic <Action>(InspectCode)
